<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="bg-zinc-900 p-8 rounded-2xl max-w-md mx-auto shadow-lg text-white">
    <div class="form-group flex flex-col gap-4">
  
      <div>
        <label for="email" class="block mb-1 text-sm text-zinc-300">Email</label>
        <input 
          type="email"
          id="email"
          formControlName="email"
          placeholder="correo@ejemplo.com"
          class="w-full p-2 rounded-md bg-zinc-800 text-white border border-zinc-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
          @if(loginForm.get('email')?.errors?.['required']){
            <small class="text-red-500">El correo es obligatorio</small>
          }
          @if(loginForm.get('email')?.errors?.['email']){
            <small class="text-yellow-400">Formato inválido</small>
          }
        }
      </div>
  
      <div>
        <label for="password" class="block mb-1 text-sm text-zinc-300">Password</label>
        <input 
          type="password"
          id="password"
          formControlName="password"
          placeholder="Introduzca su contraseña"
          class="w-full p-2 rounded-md bg-zinc-800 text-white border border-zinc-700 focus:outline-none focus:ring-2 focus:ring-green-500"
        />
        @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
          @if(loginForm.get('password')?.errors?.['required']){
            <small class="text-red-500">La contraseña es obligatoria</small>
          }
          @if(loginForm.get('password')?.errors?.['minlength']){
            <small class="text-yellow-400">Debe tener al menos 8 caracteres</small>
          }
        }
      </div>
  
      <button 
        type="submit" 
        class="mt-4 w-full bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-xl transition-all duration-200"
        (click)="onSubmit()"
      >
        Iniciar Sesión
      </button>
  
    </div>
  </form>
  