<div class="text-center p-10 bg-zinc-900 min-h-screen flex flex-col justify-center items-center text-white">
  <h1 class="text-4xl font-bold mb-8">Bienvenido a Barbería Pro</h1>

  <div class="flex gap-6">
    <a 
      routerLink="/register" 
      class="text-blue-400 hover:text-blue-300 underline transition duration-200"
    >
      Registrarse
    </a>
    
    <a 
      routerLink="/login" 
      class="text-green-400 hover:text-green-300 underline transition duration-200"
    >
      Iniciar Sesión
    </a>
  </div>
</div>
